body {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    margin: 0 auto;
   
}

/* shared styles */
.primary-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.primary-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px;
    border: none;
    margin-bottom: 20px;
}


.header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 150px;
   padding-bottom: 20px;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav>ul {
    display: flex;
   
}

.nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;

}

.nav li a {
    text-decoration: none;
    color: #424242;
   
}

/* banner styles */

.header img {
    width: 100%;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
   
}
/* started main section styles */
/* .main{
    max-width: 1440px;
    margin: 0 auto;
} */


/* features style */
.features-container{
    display: flex;
   align-items: center;
   margin: 20px 180px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    width: 100%;
}

.features-content{
    padding-left: 40px ;
    width: 700px;
}
.span1{
    color:  #727272;
}
.span2{
    color: #FF900E;
}

/* medium device */

@media screen  and (max-width:970px) {
    .nav{
        flex-direction: column;
    }
    .header{
        padding: 50px;
    }
    .features-container{
        flex-direction: column;
        margin: 20px;
       }
       .img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       }
       .img-container img{
        width: 100%;
       }
       .features-content{
        width: 100%;
        padding-left: 0px;
       }
      

}
/* mobile device */
@media screen and (max-width:570px) {
   
    .header img{
        width: 100%;
      
    }
    .header{
        padding: 20px;
    }
    .nav{
        flex-direction: column;
    }
   .features-container{
    flex-direction: column;
    margin: 20px;
   }
   .img-container{
    display: grid;
    grid-template-columns: 1fr;
   }
   .features-content{
    width: 100%;
    padding-left: 0px;
   }
  
}

